<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />

    <title>Root Access :: Crud</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
   <script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
</head>

<body>

<div class="mode">
        Light mode:         
        <span class="change">OFF</span>
    </div>
  <div class="navbar">
  <div id="nav">
    <a href='/'><button class="button">Log Out</button></a>
  </div>
  <div id="nav">
    <a href='/dashboard'><button class="button">Dashboard</button></a>
  </div>
  </div>

<div class="wrapper">
  <form method="POST" action="/crud">
    <div id="text">       
      <h2>Input Growth</h2> 
    </div>
    <div id="form">
      <input type = "int" name= "datetime" value="Date and Time"/>  <br>
    </div>
    <div id="form">
      <input type = "int" name = "env_id1" value="Enviroment ID"/> <br>
    </div>
    <div id="form">
      <input type = "int" name= "num_of_leaves" value="Number of Leaves"/> <br>
    </div>
    <div id="form">
      <input type = "int" name = "height" value="Height"/> <br>
    </div>
    <div id="button">
      <input type = "submit" value="Enter Growth">
    </div>
  </form>
  <form method="POST" action="/env">
    <div id="text">  
      <h2>Add an Enviroment.</h2>
    </div>
    <div id="form">
      <input type = "int" name= "env_id2" value="Enviroment ID"/> <br>
    </div>
    <div id="form">
      <input type = "int" name = "plant_id1" value="Plant ID"/> <br>
    </div>
    <div id="form">
      <input type = "int" name = "is_running" value="On or Off"/> <br>
    </div>
    <div id="form">
      <input type = "int" name= "startdate" value="Start Date"/> <br>
    </div>
    <div id="form">
      <input type = "text" name = "name1" value="Name"/> <br>
    </div>
    <div id="button">
      <input type = "submit" value="Add Enviroment">
    </div>
  </form>
  <form method="POST" action="/plant">
    <div id="text">
      <h2>Add a Plant.</h2>
    </div>
    <div id="form">
      <input type = "int" name= "plant_id2" value="Plant ID"/> <br>
    </div>
    <div id="form">
      <input type = "int" name = "name2" value="Name"/> <br>
    </div>
    <div id="form">
      <input type = "int" name= "RequiredMoisture" value="Required Moisture"/> <br>
    </div>
    <div id="form">
      <input type = "int" name = "RequiredLight" value="Required Light"/> <br>
    </div>
    <div id="button">
      <input type = "submit" value="Add Plant">
    </div>
  </form>
</div> 
<script>
        $( ".change" ).on("click", function() {
            if( $( "body" ).hasClass( "dark" )) {
                $( "body" ).removeClass( "dark" );
                $( ".change" ).text( "OFF" );
            } else {
                $( "body" ).addClass( "dark" );
                $( ".change" ).text( "ON" );
            }
        });
    </script>

  
</body>

</html>