
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Root Access :: Crud</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <center>
        <a href='/'><button class="button">Home</button></a>
        <a href='/dashboard'><button class="button">Dashboard</button></a>
    </center>
<h1>Input Growth</h1>
    <form method="POST" action="http://127.0.0.1:5000/crud">
        <center>
        <H1>Enter your details.</H1> <br>
        date and time <input type = "int" name= "datetime" /> <br>
        Enviroment ID <input type = "int" name = "env_id1" /> <br>
        Number of Leaves <input type = "int" name= "num_of_leaves" /> <br>
        Height <input type = "int" name = "height" /> <br>
        <input type = "submit">
        </center>
    </form>

    <h1>Add an Enviroment.</h1>
    <form method="POST" action="http://127.0.0.1:5000/env">
        <center>
        <H1>Enter your details </H1> <br>
        Enviroment ID <input type = "int" name= "env_id2" /> <br>
        Plant ID <input type = "int" name = "plant_id1" /> <br>
        Is it Running <input type = "int" name = "is_running" /> <br>
        Start Date <input type = "int" name= "startdate" /> <br>
        Name <input type = "text" name = "name1" /> <br>
        <input type = "submit">
        </center>
    </form>

    <h1>Add a Plant.</h1>
    <form method="POST" action="http://127.0.0.1:5000/plant">
        <center>
        <H1>Enter your details </H1> <br>
        Plant ID <input type = "int" name= "plant_id2" /> <br>
        Name <input type = "int" name = "name2" /> <br>
        Required Moisture <input type = "int" name= "RequiredMoisture" /> <br>
        Required Light <input type = "int" name = "RequiredLight" /> <br>
        <input type = "submit">
        </center>
    </form>

</body>
</html>