<!DOCTYPE html>
<head>

    <meta charset="utf-8" />

    <title>Root Access :: Home</title>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

    <img src="/static/media/Logo.png" alt="Logo" style="width:275px;height:325px;">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/main.js"></script> 

</head>

<body>

    <center>
        <a href="/"><button type="button" class="btn btn-primary" >Log Out</button></a><br>
        <a href="/crud"><button type="button" class="btn btn-primary" >Crud</button></a><br>
    </center>


    <div class="login">
<center>
        <h1>Login</h1>

        <form action="http://127.0.0.1:5000/login" method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Login">
            
        </form>
</center>
    </div>

</body>